@import "@/scss/styleguide.scss";

.container {
  width: 364px;
  height: 270px;
  display: flex;
  flex-direction: column;
  border: 1px solid $grayCard;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.postImage {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 6px;
  object-fit: cover;
}

.postTitle {
  font-family: $roboto;
  font-weight: $medium;
  color: $whiteCustom;
  font-size: 18px;
  padding: 13px 21px;
  text-align: center;
}

.postTypeContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  background-color: $blackType;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 34px;
}

.postIcon {
  width: 24px;
  height: 24px;
}

.postType {
  display: none;
  font-family: $roboto;
  font-weight: $medium;
  font-size: 12px;
}

.postHovered {
  display: block;
}

// Styles for PostType

.movie {
  border-bottom: 5px solid $green;
}
.movieText {
  color: $green;
}
.movieIcon {
  filter: $greenFilter;
}

.tvShow {
  border-bottom: 5px solid $lightBlue;
}
.tvShowText {
  color: $lightBlue;
}
.tvShowIcon {
  filter: $lightBlueFilter;
}

.documentary {
  border-bottom: 5px solid $pink;
}
.documentaryText {
  color: $pink;
}
.documentaryIcon {
  filter: $pinkFilter;
}

.awards {
  border-bottom: 5px solid $yellow;
}
.awardsText {
  color: $yellow;
}
.awardsIcon {
  filter: $yellowFilter;
}

.defaultText {
  color: $blackCustom;
}
