@import "@/scss/styleguide.scss";

.postContainer {
  padding-bottom: 40px;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filterContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.filter {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #030a0d;
  color: $white;
}

.activeFilter {
  border: 1px solid $orange;
}
