@import "@/scss/styleguide.scss";

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 800px;
  border: 2px solid $orange;
  border-radius: 25px;
}

.searchInput {
  width: 100%;
  padding: 8px 24px;
  background: transparent;
  border: none;
  color: $lightWhite;
  font-family: $poppins;
  font-size: 20px;
  font-weight: $semiBold;
  outline: none;
  transition: all 0.3s ease;
}

.searchIcon {
  padding-right: 16px;
}
