// [------------------------------ Z-INDEX LEVELS ------------------------------]

$z-index-base: 1;
$z-index-navbar: 5;
$z-index-profile-menu: 10;

// [------------------------------ NAVBAR HEIGHT ------------------------------]

$navbarHeight: 114px;

// [------------------------------ GLOBAL CLASSES ------------------------------]

.hide-scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

// [------------------------------- BREAKPOINTS -------------------------------]

$breakpoint-mobile: 440px;
$breakpoint-big-mobile: 575px;
$breakpoint-small-tablet: 740px;
$breakpoint-tablet: 1024px;
$breakpoint-small-desktop: 1250px;
$breakpoint-desktop: 1020px;
