// [------------------------------ Z-INDEX LEVELS ------------------------------]

$z-index-base: 1;

// [------------------------------ GLOBAL CLASSES ------------------------------]

.hide-scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
