@import "./colors.module.scss";
@import "./equalizer.scss";

:root {
  // App
  --navbar-height: 114px;
  --z-index-background: 1;
  --z-index-base: 2;
  --z-index-navbar: 10;
  --common-border: 5px solid $orange;
}

* {
  font-family: $roboto;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background: linear-gradient(180deg, #081a20 42%, #020506 100%);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: $blackCustom;
}

body::-webkit-scrollbar-thumb {
  background: $orange;
}

h2 {
  font-weight: $bold;
  font-size: 48px;
}
