@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// [------------------------------ FONTS ------------------------------]
$roboto: "Roboto", sans-serif;

// [--------------------------- FONT WEIGHT ---------------------------]
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
